{% extends "base.html" %}

{% block title %}
QuizWiz | Contact
{% endblock %}

{% block body %}
<div style="font-size: 30px; margin-top: 2rem;">
 Laboris adipisicing esse aliqua magna quis tempor sunt. Mollit proident nostrud eiusmod veniam ad aliquip esse magna anim labore deserunt do cupidatat. Proident ut elit tempor officia tempor adipisicing ad exercitation elit ex.Commodo laboris nisi do occaecat eu labore. Labore cupidatat exercitation elit amet eiusmod duis dolor duis. Excepteur incididunt reprehenderit deserunt veniam. Quis dolore do voluptate sint non eu qui qui cillum aliqua. Eiusmod incididunt voluptate amet elit adipisicing. Culpa Lorem veniam est reprehenderit aliquip elit consequat deserunt officia ea et.
</div>
{% endblock %}


{% block navbar%}
<li class="nav-item">
    <a href="/register" class="nav-link">
<!--<i class="nav-icon fas fa-tachometer-alt"></i> -->
      <p>
        Register
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/" class="nav-link">
      <p>
        Login
      </p>
    </a>
  </li>
{% endblock %}